@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<h1>Velkommen til Produkt Håndteringssystemet</h1>
<nav>
    <ul>
        <li><a href="/Product/InsertProduct">Indsæt Produkt</a></li>
        <li><a href="/Product/ViewProducts">Vis Produkter</a></li>
        <li><a href="/Product/Edit">Opdater produkter</a></li>

    </ul>
</nav>
